<!-- Contenedor de los platos -->
<div class="w-full h-auto bg-gray-100 rounded-xl p-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-6">
    <div *ngFor="let dish of dishes;" class="bg-white shadow-lg rounded-xl overflow-hidden transform transition duration-300 hover:scale-105 h-full flex flex-col min-h-[250px]">
      <div class="p-6 bg-white shadow-md rounded-lg flex flex-col flex-1">

        <div class="flex justify-between items-start flex-1">
          <div class="flex-1">
            <h3 class="text-lg font-bold text-purple-600">{{ dish.name }}</h3>
            <p class="text-gray-500 text-sm break-words overflow-hidden">{{ dish.description }}</p>
          </div>
        </div>

        <div class="mt-auto flex justify-between items-center">
          <span class="text-xl font-semibold text-gray-800">${{ dish.price }}</span>
          <div class="flex space-x-2">
            <button (click)="openEditModal(dish)" 
                    class="bg-purple-500 hover:bg-purple-600 text-white px-3 py-1 rounded-lg text-sm">
              Editar
            </button>
            <button (click)="deleteDish(dish.id)" 
                    class="bg-amber-500 hover:bg-amber-600 text-white px-3 py-1 rounded-lg text-sm">
              Eliminar
            </button>
          </div>
        </div> 

      </div>
    </div>

    <div class="bg-white shadow-lg rounded-xl overflow-hidden transform transition duration-300 hover:scale-105 h-full flex flex-col min-h-[250px] items-center justify-center p-6 border-2 border-dashed border-gray-300">
      <button (click)="openCreateModal()" 
              class=" text-black font-semibold  flex items-center">
        ➕ Agregar Plato
      </button>
    </div>
    
  </div>
</div>


<div *ngIf="isModalOpen" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
  <div class="bg-white p-6 rounded-lg shadow-lg w-96">
    <h2 class="text-xl font-bold text-purple-600 mb-4">{{ isEditing ? 'Editar Plato' : 'Crear Plato' }}</h2>

    <input type="text" [(ngModel)]="currentDish.name" placeholder="Nombre" 
           class="w-full p-2 mb-2 border rounded-md">
    
    <textarea [(ngModel)]="currentDish.description" placeholder="Descripción" 
              class="w-full p-2 mb-2 border rounded-md"></textarea>
    
    <input type="number" [(ngModel)]="currentDish.price" placeholder="Precio" 
           class="w-full p-2 mb-2 border rounded-md">

    <div class="flex justify-end space-x-2">
      <button (click)="closeModal()" class="bg-gray-400 px-4 py-2 text-white rounded-md">Cancelar</button>
      <button (click)="saveDish()" class="bg-purple-500 hover:bg-purple-600 px-4 py-2 text-white rounded-md">
        {{ isEditing ? 'Actualizar' : 'Crear' }}
      </button>
    </div>
  </div>
</div>